<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Home Loans">
    <test name="C:/Users/drako/IdeaProjects/SeleniumMaven">
        <classes>
            <class name="TestNGTutorial2.TestCarLoan">
                <methods>
                    <include name="MobileLoginCarLoan"/>

                </methods>
            </class>


        </classes>
    </test>
    <test name="Car Loans">
        <classes>

            <class name="TestNGTutorial2.TestHomeLoan">
                <methods>
                    <!-- <include name="RestAPILoginHomeLoan"/> -->
                    <exclude name="Mobile.*"/>

                </methods>
            </class>

        </classes>
    </test>
</suite>